<!DOCTYPE html>
<html lang="en">

<head th:insert="~{Layout/head :: head}">
</head>

<body>
    <div class="wrapper">
        <nav th:insert="~{Layout/sidebar :: sidebar}">
        </nav>

        <div class="main">
            <nav th:insert="~{Layout/navbar :: navbar}">
            </nav>

            <main class="content">
                <div class="container-fluid p-0">
                    <div class="row">
                        <div class="col-12 col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <h1 class="h3">Registro de Informe Tecnico</h1>
                                    <div class="text-end">
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12">
                                            <label for="">Tecnico</label>
                                            <select class="js-example-basic-single"  style="width: 100%;">
                                                <option th:each="t : ${tecnicos}" th:if="${t.estado != 'X'}"
                                                    th:text="${t.persona.nombres +' '+ t.persona.ap_paterno +' '+ t.persona.ap_materno +' - '+ t.especialidad}"
                                                    th:value="${t.id_tecnico}">
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-12">
                                            <label for="">Tipo de Servicio</label>
                                            <select class="js-example-basic-single" style="width: 100%;">
                                                <option th:each="tp : ${tipoServicios}" th:if="${tp.estado != 'X'}"
                                                    th:text="${tp.nom_TipoServicio}"
                                                    th:value="${tp.id_tipoServicio}">
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-4">
                                            <label for="">Observacion</label>
                                            <input type="text" class="form-control" th:field="*{informe.observacion}" placeholder="Observacion" required>
                                        </div>
                                        <div class="col-4">
                                            <label for="">Recomendacion</label>
                                            <input type="text" class="form-control" th:field="*{informe.recomendacion}"
                                                placeholder="Recomendacion" required>
                                        </div>
                                        <div class="col-4">
                                            <label for="">Conclucion</label>
                                            <input type="text" class="form-control" th:field="*{informe.conclucion}"
                                                placeholder="Conclucion">
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer text-center">
                                    <button type="submit" class="btn btn-primary" >Registrar</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </main>

            <footer th:insert="~{Layout/footer :: footer}">
            </footer>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content modal-lg">
                <div id="replace">

                </div>
            </div>
        </div>
    </div>
    <div th:insert="~{Layout/scrips :: scrips}"> </div>
    <script>
        $(document).ready(function () {
            $('.js-example-basic-single').select2();
            $('#example').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            });
        });
    </script>
    <script>
        function nuevoRegistro() {
            $.ajax({
                type: "GET",
                url: "/usuario",
                success: function (response) {
                    $("#exampleModal").modal("show");
                    $("#replace").html(response);
                },
            });
        }

        function editarRegistro(id) {
            $.ajax({
                type: "GET",
                url: "/editar_usuario/" + id,
                success: function (response) {
                    $("#exampleModal").modal("show");
                    $("#replace").html(response);
                },
            });
        }

        function eliminarRegistro(id) {
            Swal.fire({
                title: "Atencion!",
                text: "¿Estas seguro que desea eliminar el registro?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "SI, Eliminar",
                cancelButtonText: "Cancelar"
            }).then((result) => {
                if (result.isConfirmed) {
                    // Si el usuario hace clic en "Sí, eliminar"
                    $.ajax({
                        type: "GET",
                        url: "/eliminar_usuario/" + id,
                        success: function (response) {
                            console.log("Eliminacion con Exito");
                            window.location.href = "/usuarios";
                        },
                        error: function (xhr, status, error) {
                            console.log(error);
                        }
                    });
                }
            });

        }

        function EliminarRegistro(id) {
            Swal.fire({
                title: "Atencion!",
                text: "¿Estas seguro que desea eliminar el registro?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "SI, Eliminar",
                cancelButtonText: "Cancelar"
            }).then((result) => {
                if (result.isConfirmed) {
                    // Si el usuario hace clic en "Sí, eliminar"
                    $.ajax({
                        type: 'POST',
                        url: "/eliminar-persona/" + id,
                        success: function (response) {

                        },
                        error: function (xhr, status, error) {
                            console.log(error);
                        }
                    });
                }
            });
        }
    </script>
</body>

</html>