<nav th:fragment="sidebar"  id="sidebar" class="sidebar js-sidebar">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand" th:href="@{/inicio}">
            <span class="align-middle" th:text="${session.usuario.rol.nom_rol}"></span> 
        </a>

        <ul class="sidebar-nav">
            <th:block th:each="m : ${session.usuario.rol.menus}">
                <li class="sidebar-header" th:text="${m.nom_menu}">
                </li>
                <th:block th:each="sm : ${m.subMenus}" th:if="${sm.estado != 'X'}">
                    <li class="sidebar-item">
                        <a class="sidebar-link" th:href="${sm.ruta_url}">
                            <i class="align-middle" data-feather="check-square"></i> <span class="align-middle" th:text="${sm.nom_subMenu}"></span>
                        </a>
                    </li>
                </th:block>
            </th:block>
        </ul>

    </div>
</nav>